html {
    font-size: 16px;
}

#indexBody {
    background-color: black;
}

#footer.index {
    border-top: white 1px solid;
}

.navbar.index {
    border-bottom: white 1px solid;
}

#footer,
.imageLayout,
.sidebar {
    background-color: black;
    color: white;
}

nav.navbar {
    background-color: black;
}

.navbar-brand,
.navbar-brand:hover,
a.nav-link {
    color: white;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

ul li {
    padding: 0 20px 0 20px;
    font-weight: 600;
}

.menuItem:hover li a {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(3px);
    color: white;
}

.menuItem li a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0px);
}

.card img {
    width: 100%;
    border-bottom: white 1px solid;
}

a.sidebar {
    font-size: 1.5rem;
    /* text-decoration: underline white; */
    margin-bottom: -0.5rem;
    border-bottom: white 0.5px solid;
}

.poster-release {
    color: silver;
    font-style: italic;
}

.carousel-caption p {
    font-size: 1.5rem;
    margin-bottom: -3%;
}

.card img:hover {
    cursor: pointer;
}

.carousel-item img {
    height: auto;
}

#home-right-col img,
#home-left-col img {
    height: auto;
    width: 100%;
}

.imageLayout {
    width: 250px;
    height: 460px;
    text-align: center;
}

.movieButton {
    font-size: 15px;
    float: left;
    margin: 5px;
    color: black;
}

.movieInfo {
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    position: absolute;
    top: 49px;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-header {
    background-color: black;
    color: white;
}

.card-body {
    padding: 0.75rem;
}

p.card-text {
    margin-bottom: 0.75rem;
}

#search-card {
    border: black 1.5px solid;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#search-button {
    background-color: black;
}

#search-button:hover {
    background-color: rgb(55, 55, 55);
}

#search-button:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 1);
}

#search-form {
    width: 80%;
    margin: 10% auto;
    border-radius: 0.75rem;
    min-width: 230px;
}

.form-check {
    margin-bottom: 1rem;
    /* margin-top: 0.75rem; */
}

.moviePoster {
    margin: 20px;
    float: left;
    width: 350px;
    height: auto;
}

.movieData {
    float: none;
    margin-top: 20px;
}

.movieHeaders {
    font-weight: bold;
    font-size: 20px;
}

.movieWindowInfo {
    font-weight: normal;
    font-size: 16px;
}

.trailerBox {
    margin: 20px;
    margin-top: 40px;
}

h5 {
    margin: 0 auto;
    margin-top: 20%;
}

#trailerModule,
#infoModule,
#trailerModule:hover,
#infoModule:hover {
    color: white;
    cursor: pointer;
}